@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: 300;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ν—¤λ” */
header {
    width: 100%;
    height: 135px;
    background-color: white;
    min-width: 1240px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.top {
    height: 67.5px;
    position: relative;
}

.top>div>a>img {
    margin-top: 5px;
    width: 250px;
    height: auto;
}

.searchbar {
    width: 500px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
}

.searchbar>input[type="search"] {
    width: 450px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    position: relative;
    padding: 5px;
}

.searchbar>img {
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 55px;
}

.icon {
    width: 150px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.icon ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav {
    height: 67.5px;
    background-color: #333;
}

nav ul {
    width: 100%;
    height: 67.5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

nav ul li a {
    padding: 0 22px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

nav ul li:hover a {
    color: #ff4000;
}


h1 {
    font-weight: normal;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 50px 0;
    margin-top: 150px;
}


.mainbox {
    width: 100%;
    height: 940px;
    margin: 0 auto;
    text-align: left;
    color: #333;
    margin-top: -20px;
    min-width: 1240px;
}

h1 {
    font-size: 49px;
    font-weight: bold;
    text-align: center;
}

caption {
    text-align: right;
    font-size: 12px;
    margin: 10px 0;
}

.red_dot {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

table {
    width: 1240px;
    height: 390px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 40px;
    border-collapse: collapse;
}

.join input {
    border: none;
    background-color: #f2f2f2;
    width: 350px;
}

tr {
    height: 50px;
}

th {
    background-color: tomato;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

table>tbody>tr>td>input {
    font-size: 14px;
    text-indent: 30px;
}

table>tbody>tr>td>span {
    font-size: 14px;
    text-indent: 30px;
}

.join .left_menu {
    text-indent: 40px;
    width: 320px;
}

.join input[type="text"] {
    width: 400px;
    height: 40px;
    outline: none;
}

.join input[type="password"] {
    width: 400px;
    height: 40px;
    outline: none;
}

.red_font {
    color: tomato;
    font-size: 12px;
    margin-left: 20px;
    font-weight: 600;
}

.ag {
    width: 400px;
    height: 40px;
}

input[type="radio"] {
    width: 50px;
}

tbody tr {
    border-bottom: 1px solid lightgray;
}

.last_table {
    border-bottom: 1px solid black;
}



.select {
    width: 1240px;
    height: 405px;
    margin: 0 auto;
    margin-top: 20px;
    text-indent: 30px;
}

.select pre {
    margin-top: 10px;
}

.select li {
    font-size: 14px;
    padding: 15px;
    margin: 2px;
}

.select li:not(:first-child) {
    background-color: #f2f2f2;
}

input[type="checkbox"] {
    margin: 0 10px 0 0;
}

.bt {
    width: 1240px;
    height: 50px;
    text-align: center;
}

button {
    width: 180px;
    height: 50px;
    margin: auto;
    display: inline-block;
    margin: 60px 20px;
    cursor: pointer;
}

.no {
    background-color: white;
    border: 1px solid #333;
}

.yes {
    background-color: #333;
    color: white;
}

.no:active {
    background-color: black;
    color: white;
}

.yes:active {
    background-color: white;
    color: #333;
    border: 1px solid black;
}

/* ν‘Έν„° */
.foot {
    width: 100%;
    margin-top: 250px;
    background-color: #e2e2e2;
    min-width: 1240px;
}

.footmenu {
    width: 100%;
    height: 67.5px;
    margin: 0 auto;
    background-color: #77767c;
}

.footmenu ul {
    margin: 0 auto;
    width: 1240px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footmenu ul li {
    margin: 0 45px;
    color: white;
    font-weight: bold;
}

.footgr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 9px;
    line-height: 25px;
}

.footgr div {
    margin: 0 100px;
}
